header {
	height: 100% !important;
	width:100%;
	text-align: left !important;
	background-image: url('../img/bg-about.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
header .cont{
        padding-top: 60%; 
}
#aboutInf{
        height: auto;
        width: auto;
        padding-bottom: 300px;
	background-image: url('../img/bg2.png');
	background-size: 530px;
        background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -70px 1930px;
	
}
#aboutInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
}
#paddi{
	padding: 80px 80px 40px 80px;   
}
.vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
#out{
	left:0;
    }
#upTo img{
	display: none;
}
#aboutInf .row:first-child, #aboutInf .row:last-child {
	padding: 80px 0 40px;
}

@media (min-width: 576px) { 
    header .cont{
        padding-top: 45%; 
    }

    #aboutInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
    }
    #paddi{
	padding: 80px 80px 40px 80px;   
    }
    .vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
    #out{
	left:0;
    }
    #upTo img{
	display: none;
    }
    #aboutInf .row:first-child, #aboutInf .row:last-child {
	padding: 80px 0 40px;
    }
    #aboutInf{
	height: auto;
        padding-bottom: 300px;
	background-size: 530px;
	background-position: 50px 1730px;
}
}
@media (min-width: 768px) { 
    header .cont{
        padding-top: 38%; 
    }
    #aboutInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
    }
    #paddi{
	padding: 80px 80px 40px 80px;   
    }
    .vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
    #out{
	left:0;
    }
    #upTo img{
	display: none;
    }
    #aboutInf .row:first-child, #aboutInf .row:last-child {
	padding: 80px 0 40px;
    }
    #aboutInf{
	height: auto;
        padding-bottom: 300px;
	background-size: 530px;
	background-position: 200px 1730px;
}
}
@media (min-width: 992px) { 
    header .cont{
        padding-top: 24%; 
    }
    #aboutInf > div >div >div >  img{
	height: 350px;	
	z-index: 1;
    }
    #paddi{
	padding: 80px 0 30px 100px;
    }
    #out{
	left:-16.666666%;
    }
    #upTo img{
        display: inherit;
	position: relative;
	margin-top:-8.333333%;
	right: -25%;
    }
    #aboutInf{
	height: auto;
        padding-bottom: 0px;
	background-size: 580px;
	background-position: -80px 1300px;
    }
    #aboutInf .row:first-child, #aboutInf .row:last-child {
	padding: 150px 0 90px;
    }
}
@media (min-width: 1200px) {  
    header .cont{
        padding-top: 20%; 
    }
    #aboutInf > div >div >div >  img{
	height: 450px;	
	z-index: 1;
    }
    #paddi{
	padding: 80px 0 30px 100px;
    }
    #out{
	left:-8.333333%;
    }
    #upTo img{
        display: inherit;
	position: relative;
	margin-top:-8.333333%;
	right: -16.666666%;
    }
    #aboutInf .row:first-child, #aboutInf .row:last-child {
	padding: 150px 0 120px;
}
#aboutInf{
	height: auto;
        padding-bottom: 0px;
	background-size: 700px;
	background-position: 0px 1360px;
    }
}