#toConf{
	width: 100%;
	background-color: #e9cfcc;
	color: #5c4b51;	
        position:absolute;
        bottom:0px;
        z-index: 1000;
}
#conf {
	font-family: 'Playfair Display';
	padding: 24px 20px 0 20px;
	font-size: 12pt;
	letter-spacing:0.05em;	
	font-weight: 700;	
}
#confButt{
	padding: 18px 0;
    margin: 0 auto;
}
#confButt .aOscuro {
	font-size: 11pt;
	font-weight: 400 !important;
	background-color: #e9cfcc;
	border: 2px #5c4b51 solid;
	color: #5c4b51;	
	letter-spacing:0.08em;
	padding: 10px 30px;
	outline: none;
}
 #confButt .aOscuro:hover{
	color: #fff;	
	border: 2px #5c4b51 solid;
	background-color: #5c4b51;

}
@media (min-width: 576px) {     
        #conf {
	padding: 24px 20px 0 20px;
	font-size: 12pt;
	letter-spacing:0.05em;	
        }
        #confButt{
	padding: 18px 0;
        margin: 0 auto;
        }
        #confButt .aOscuro {
	font-size: 11pt;
	letter-spacing:0.08em;
	padding: 10px 30px;
        }

}
@media (min-width: 768px) {
        #conf {
	padding: 15px 20px 0 0;
	font-size: 12pt;
        text-align: left;
	letter-spacing:0.05em;	
        }
        #confButt{
	padding: 5px 0;
        margin: 10px 0;
        }
        #confButt .aOscuro {
	font-size: 11pt;
        float: right;
	letter-spacing:0.05em;
	padding: 10px 20px;
        }
}
@media (min-width: 992px) {   
        #conf {
        padding: 30px 0;
		font-size: 12pt;
        letter-spacing:0.05em;
        }
        #confButt{
		padding: 15px 0;
        }
        #confButt .aOscuro {
	font-size: 10pt;
        float: right;
	letter-spacing:0.05em;
	padding: 10px 32px;
        }

}
@media screen and (min-width: 1200px) {    
        #conf {
        padding: 30px 0;
        font-size: 14pt;
        letter-spacing: 1px;	
        }
        #confButt{
        padding: 15px 0;
        }
        #confButt .aOscuro {
        font-size: 11pt;
        letter-spacing:0.15em;
        float: right;
        padding: 10px 40px;
        }
}
