#formul{
	height: auto;
	background-color: #e9cfcc;
	text-align: center;
	padding: 70px 0;
}
#formul>div>.sub{
	color: #fff;
}
#formul>div> div> button{
	
	float: none !important;
}

input::placeholder{
	color: #5c4b51;
}

#exampleModal{
	z-index: 999999;
}
@media (min-width: 576px) { 
	#formul .sub, #formul .tit {
		text-align: center;
	}
}
@media (min-width: 768px) { 
	#formul .sub, #formul .tit {
		text-align: center;
	}
}
@media (min-width: 992px) { 
	#formul .sub, #formul .tit {
		text-align: center;
	}
}
@media (min-width: 1200px) { 
	#formul .sub, #formul .tit {
		text-align: center;
	}
}

.modal-body input{
	margin: 0 50px 0 50px;
}
.form-control{
	width: 80% !important;
}

 input{
	background-color: transparent;
	border: 2px solid #5c4b51 !important;
	border-radius: 0 !important;
}
input:hover, .form-group > input:focus{
	background-color: transparent;
	border: 2px solid #5c4b51 !important;
	border-radius: 0 !important;
}