header {
	height: 100% !important;
	width:100%;
	text-align: left !important;
	background-image: url('../img/bg-E.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	

}

header .cont{
        padding-top: 60%; 
}
#eventInf{
        height: auto;
        width: auto;
        padding-bottom: 300px;
	background-image: url('../img/bg3.png');
	background-size: 380px;
        background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 20px 2220px;
	
}
#eventInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
}
#paddi{
	padding: 80px 80px 40px 80px;   
}
.vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
#out{
	left:0;
    }
#upTo img{
	display: none;
}
#eventInf .row:first-child, #eventInf .row:last-child {
	padding: 80px 0 40px;
}
#maps .row{
	padding: 0 !important;
	margin: 0 !important;
}

@media (min-width: 576px) { 
    header .cont{
        padding-top: 45%; 
    }

    #eventInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
    }
    #paddi{
	padding: 80px 80px 40px 80px;   
    }
    .vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
    #out{
	left:0;
    }
    #upTo img{
	display: none;
    }
    #eventInf .row:first-child, #eventInf .row:last-child {
	padding: 80px 0 40px;
    }
    #eventInf{
	height: auto;
        padding-bottom: 300px;
	background-size: 430px;
	background-position: 100px 1960px;
}
}
@media (min-width: 768px) { 
    header .cont{
        padding-top: 38%; 
    }
    #eventInf > div >div >div >  img{
	height: auto;
        width: 100%;
	z-index: 1;
        margin-bottom: 80px;
    }
    #paddi{
	padding: 80px 80px 40px 80px;   
    }
    .vino {
        margin-left: -80px;
        margin-right:  -80px;
    }
    #out{
	left:0;
    }
    #upTo img{
	display: none;
    }
    #eventInf .row:first-child, #eventInf .row:last-child {
	padding: 80px 0 40px;
    }
    #eventInf{
	height: auto;
        padding-bottom: 300px;
	background-size: 480px;
	background-position: 250px 1890px;
}
}
@media (min-width: 992px) { 
    header .cont{
        padding-top: 24%; 
    }
    #eventInf > div >div >div >  img{
	height: 350px;	
	z-index: 1;
    }
    #paddi{
	padding: 80px 0 30px 100px;
    }
    #out{
	left:-16.666666%;
    }
    #upTo img{
        display: inherit;
	position: relative;
	margin-top:-8.333333%;
	right: -25%;
    }
        #eventInf{
        padding-bottom: 0px;
	background-size: 530px;
	background-position: -10px 1350px;
	
}
    #eventInf .row:first-child, #eventInf .row:last-child {
	padding: 150px 0 90px;
    }
}
@media (min-width: 1200px) {  
    header .cont{
        padding-top: 20%; 
    }
    #eventInf > div >div >div >  img{
	height: 450px;	
	z-index: 1;
    }
    #paddi{
	padding: 80px 0 30px 100px;
    }
    #out{
	left:-8.333333%;
    }
    #upTo img{
        display: inherit;
	position: relative;
	margin-top:-8.333333%;
	right: -16.666666%;
    }
    #eventInf{
        padding-bottom: 0px;
	background-size: 700px;
	background-position: 80px 1400px;
	
}
    #eventInf .row:first-child, #eventInf .row:last-child {
	padding: 150px 0 120px;
}
#maps .row{
	padding: 0 !important;
	margin: 0 !important;
}
}
