footer{
	background-color: #5c4b51;
	color:  #fff;
	padding: 30px 0 30px 0;
}

footer li a{
	color:  #fff !important;
}
footer li a:hover{
	color:  #e9cfcc !important;
}
footer img {
	float: right;
}
.power {
	padding-top: 7px;
}
#adri{
	width: 30px !important;
	margin-left: 30px;
}
#mati{
	width: 40px !important;
	margin-left: 30px;
}
footer .nav-link {
	padding-right: 20px !important;
}


@media (min-width: 576px) {     
	footer{
		padding:30px 0;
		
	} 
	.logos {
		padding: 0;
		margin: 0 auto;
	}
	footer .col-sm-12 {
		padding: 0 !important;
		margin: 0 auto !important;
	}
	footer .nav-link {
		padding: 0px 10px 10px 10px !important;
		font-size: 16px !important;
		
	}
	
}
@media (min-width: 768px) {
	footer{
		padding:30px 0;
	} 
	footer img, .power {
		float: right;
	}
	footer .nav-link {
		padding-right: 0px !important;
		font-size: 16px !important;
	}
}
@media (min-width: 992px) {  
	footer{
		padding: 30px 40px;
	}    
	footer img, .power {
		float: right;
	}
	footer .nav {
		padding-top: 10px;

	}
	footer .nav-link {
		padding-right: 20px !important;
	}
}