
header {
	height: 92% !important;
	width:100%;
	text-align: left !important;
	background-image: url('../img/bg-G.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

header .sub{
	font-size: 16pt !important;
}

/*-------------------------------------------------------*/


#extImg{
	height: 180%;
	width: auto;
	margin-top: 90px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-cell {
	flex: 1;
	background-color: tomato;

}
