header {
	height: 92% !important;
	width:100%;
	text-align: left !important;
	background-image: url('../img/bg5.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
}
.aling{
	text-align: right;
}
header .sub{
	font-size: 16pt !important;
}

#giftInf{
	height: 210%;
	width: auto;
}

#giftInf > div >div >div >  img{
	height: 450px;	
	z-index: 1;

}
#paddi{
	padding: 80px 0 30px 100px;
}

#out{
	left:-8.333333%;

}

#upTo img{
	position: relative;
	margin-top:-8.333333%;
	right: -16.666666%;
}

#giftInf .row:first-child, #giftInf .row:last-child{
	padding: 150px 0 150px;
}

.aOscuro1{
	padding: 10px 40px;
	font-weight: 300 !important;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none !important;
	text-transform: uppercase;
	-webkit-transition: background-color 0.5s,color 0.5s ; /* For Safari 3.1 to 6.0 */
	transition: background-color 0.5s, color 0.5s;
	color: #5c4b51 !important;	
	border: 2px #5c4b51 solid;
	
}
.aOscuro1:hover{
	color: #fff !important;	
	background-color: #5c4b51;
}
#formul{
	text-align: center;
}

label{
	float: left !important;
}


/* "PROGRESS BAR" */

#giftInf .container{
	background-image: url('../img/line0.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	
}

.form-group{
	padding: 0 10px;

}
.form-group > input{
	background-color: transparent;
	border: 2px solid #5c4b51 !important;
	border-radius: 0 !important;
	width: 100% !important;
}
.form-group > input:hover, .form-group > input:focus{
	background-color: transparent;
	border: 2px solid #5c4b51 !important;
	border-radius: 0 !important;

}

#regaloBox{

	justify-content: center;
	margin: 50px 0 0 0;
}

