* {
	box-sizing: border-box; 
	outline:0px;
}

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;	
	
}

b, strong {
	font-weight: 600 !important;
}

button{
	outline: none !important;
}

.sub{
	font-family: 'Courgette', cursive;
	font-size: 16pt;
	color: #e9cfcc;	
	text-align: center;
	letter-spacing:0.05em;
	margin: 0;
	padding-bottom: 10px;

}
.tit{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 18pt;
	color: #5c4b51;
	text-align: center;
	letter-spacing:0.05em;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 30px !important;

}	
.shrink{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: #5c4b51;
	text-align: center;
	letter-spacing:1px;
	margin: 0;
	padding-top: 20px;

}
.parr{
	text-align: center;
	line-height: 20pt;
	letter-spacing: 1px;
	opacity: 0.9;
	margin-bottom: 60px !important;
}
@media (min-width: 576px) {
    .sub{
	text-align: center;
    }
    .tit{
	text-align: center;
    }	
    #shrink{
	padding-top: 20px;
    }
    .parr{
	text-align: center;
    }
} 
@media (min-width: 768px) {
    .sub{
	text-align: center;
    }
    .tit{
	text-align: center;
    }	
    #shrink{
	padding-top: 20px;
    }
    .parr{
	text-align: center;
    }
} 
@media (min-width: 992px) {
    .sub{
	text-align: left;
    }
    .tit{
	text-align: left;
    }	
    #shrink{
	padding-top: 20px;
    }
    .parr{
	text-align: left;
    }
} 
@media (min-width: 1200px) {
    .sub{
	text-align: left;
    }
    .tit{
	text-align: left;
    }	
    #shrink{
	padding-top: 20px;
    }
    .parr{
	text-align: left;
    }
} 


.blanco {
	color: #fff !important;
}
.rosa {
	color: #e9cfcc !important;
}
.vino {
	background-color: #5c4b51 !important;
}

/*-------------------------------------------------------*/
header {
	height: 100%;
	width:100%;
	text-align: center;
	background-image: url('../img/fondo.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
header .content{
        padding-top: 20%; 
}
header .fecha{
        font-family: 'Courgette', cursive;
	text-align: center;
	letter-spacing:0.05em;
	margin: 0;
	padding-bottom: 10px;
        color: #5c4b51;
        font-size: 14pt;
}

/*---------------------------------------*/
/* CONTADOR								 */
/*---------------------------------------*/

header #contador{
	display: inline-flex;
	width: auto;
	height: auto;
	margin-bottom: 100px;
	text-align: center !important;
}

header #contador span{
	font-size: 14pt;
	font-family: 'Courgette', cursive;
	letter-spacing:0.05em;
	color: #5c4b51;
	float: left;
}

header #contador span.big{
	font-size: 50pt;
	font-family: 'Arapey', serif;
	font-variant: small-caps;
}
.circulo {
	width: 100%;
	height: 150px;
	padding:30px 30px;
}
@media (min-width: 576px) {     
        .shrink{
        font-size: 12pt;
        padding: 10px;
        }
        header .content{
        padding-top: 35%; 
        }
        header .fecha{
        font-size: 14pt;
        }

        header #contador span{
        font-size: 14pt;
        }

        .circulo {
        height: 100px;
        padding:40px 30px;
        }
}
@media (min-width: 768px) {
        .shrink{
    	font-size: 12pt;
	padding: 20px;
        }
        header .content{
        padding-top: 30%; 
        }
        header .fecha{
        font-size: 14pt;
        }

        header #contador span{
        font-size: 14pt;
        }

        .circulo {
        height: 100px;
        padding:30px 30px;
        }
}

@media (min-width: 992px) {   
        .shrink{
        font-size: 12pt;
        padding-top: 10px;
        }
        header .content{
        padding-top: 22%; 
        }
        header .fecha{
        font-size: 16pt;
        }

        header #contador span{
        font-size: 16pt;
        }
        
        .circulo {
        height: 100px;
        padding:40px 30px;
        }
}

@media (min-width: 1200px) {    
        .shrink{
	font-size: 12pt;
	padding-top: 20px;
        }
        header .content{
        padding-top: 20%; 
        }
        header .fecha{
        font-size: 16pt;
        }
        
        header #contador{
	margin-bottom: 100px;
        }

        header #contador span{
        font-size: 16pt;
        }

        header #contador span.big{
        font-size: 44pt;
        }
        .circulo {
        height: 100px;
        padding:40px 40px;
        }
}

/*-------------------------------------------------------*/
/*NAV*/
/*-------------------------------------------------------*/
/*BANNER*/
/*-------------------------------------------------------*/
#about{
	background-color: #5c4b51;
	width: 100%;
	height: auto;
	text-align: center;
}
#about > div > div > .nos{
	height: auto;
	padding: 80px 0;
}
#about >div>div>.nos-img{
	display: none;
}
#about >div>div>.nos-img > img{
	display: none;
}


@media (min-width: 576px) {     
	#about > div > div > .nos{
	padding: 80px;
	}
	#about >div>div>.nos-img{
	display: none;
	}
	#about >div>div>.nos-img > img{
	display: none;
	}
}
@media (min-width: 768px) { 
	#about > div > div > .nos{
	padding: 80px;
	}
	#about >div>div>.nos-img{
	display: none;
	}
	#about >div>div>.nos-img > img{
        display: none;
	}
}
@media (min-width: 992px) {  
        #about{
	text-align: left;
        }
	#about > div > div > .nos{
	padding: 75px 80px 80px 0;
        }
        #about >div>div>.nos-img{
	display: block;
	width: 100%;
	}
	#about >div>div>.nos-img > img{
	display: block;
	width: 100%;

	}
}
@media (min-width: 1200px) { 
	#about{
        text-align: left;
	} 
	#about > div > div > .nos{
        padding: 120px 160px 120px 0;
	}
	#about >div>div>.nos-img{
	display: block;
	width: 100%;

	}
	#about >div>div>.nos-img > img{
	display: block;
	width: 100%;
	
	}
}
.aRosa, .aOscuro{
	padding: 10px 40px;
	font-weight: 400 !important;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none !important;
	text-transform: uppercase;
	-webkit-transition: background-color 0.5s,color 0.5s ; /* For Safari 3.1 to 6.0 */
	transition: background-color 0.5s, color 0.5s;
}
.aRosa{
	background-color: #5c4b51;
	color: #fff;	
	border: 2px #fff solid;
}
.aRosa:hover{
	color: #5c4b51;	
	border: 2px #fff solid;
	background-color: #fff;
}
.aOscuro{
	background-color: #f8f8f6;
	color: #5c4b51;	
	border: 2px #5c4b51 solid;
	
}
.aOscuro:hover{
	color: #fff;	
	border: 2px #5c4b51 solid;
	background-color: #5c4b51;

}
/*-------------------------------------------------------*/

#extInf{
	height: auto;
	width: auto;
	background-image: url('../img/bg1.png');
	background-color: #f8f8f6;
	background-size: 27% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 73% 92%;
	
	
}
#extInf > div > #galery> div > div >  img{
	width:100%;
	height: auto;	
	z-index: -1;

}
#extInf > div > #galery, #extInf > div > #event{

	padding-top: 150px; 

}

#extInf > div >div > img{
	width: 500px;
	height: auto;	

}

@media (min-width: 576px) {     
        #extInf > div > #event {
        padding: 150px 80px; 
        text-align: center;
        }
        .fotos {
        padding: 80px !important;
        text-align: center;
        }
}
@media (min-width: 768px) { 
        #extInf > div > #event {
        padding: 150px 80px; 
        text-align: center;
        }
        .fotos {
        padding: 80px !important;
        text-align: center;
        }
}
@media (min-width: 992px) {  
        #extInf > div > #event {
        padding: 150px 0; 
        text-align: left;
        }
        .fotos {
        padding-left: 80px !important;
        text-align: left;
        }
}
@media (min-width: 1200px) { 
        #extInf > div > #event {
        padding: 150px 0; 
        text-align: left;
        }
        .fotos {
        padding-left: 160px !important;
        text-align: left;
        }
        #extInf{
	height: auto;
        padding-bottom: 50px;
	background-size: 480px;
	background-position: 1000px 550px;
}
}