* {
	box-sizing: border-box; 
	outline:0px;
}
nav{
	background-color: rgba(255,255,255, 0.5) !important;
	height: 105px;
	width: 100%;
	position: absolute;
	font-size: 14pt;
	font-weight: bold;
	z-index: 9999;

}
.navbar-brand {
	padding-top: 1.8rem !important;
}

ul{
	font-family: 'Playfair Display';
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	float: none;

}
li > a{
	text-decoration: none;
	color: #5c4b51;
	cursor:pointer;
	letter-spacing: 1px;
	font-size: 14pt !important;

}
li > a:hover{
	color: #e9cfcc;
}
a.hastg{
	font-size: 12pt !important;
	vertical-align: inherit;	
	padding-top: 0.6rem !important;

}

div>a.logo{
	width: 100%;
	position: absolute;
}
#logo{
	padding-left: 0;
	justify-content: center;
	top: -49px;
}

div>a.backLogo{
	width: 90%;

	position: absolute;
	z-index: 0;

}

.nav-link {
	padding: 0.5rem 1.6rem !important;
}


#upTime {
	display: none;
	padding:5px;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 99999;
}

#upTime > img{
	width: 80%;
    margin-bottom: 100px;
}

@media (min-width: 576px) {
  nav{
            height: 100px;
    }
    .nav-link {
            padding: 0.5rem 1rem !important;
    }
    #toggle {
        display: block;
    }
    #normal {
        display: none;
    }
} 
@media (min-width: 768px) {
    nav{
            height: 100px;
    }
    .nav-link {
            padding: 0.5rem 1rem !important;
    }
    #toggle {
        display: block;
    }
    #normal {
        display: none;
    }
} 
@media (min-width: 992px) {
   nav{
            height: 100px;
    }
    .nav-link {
            padding: 0.5rem 1rem !important;
    }
    #toggle {
        display: none;
    }
    #normal {
        display: block;
    }

} 
@media (min-width: 1200px) {
   
    nav{
            height: 105px;
    }
    .nav-link {
            padding: 0.5rem 1.6rem !important;
    }
    #toggle {
        display: none;
    }
    #normal {
        display: block;
    }
} 